# Vigade analÃ¼Ã¼s

Laeme faili sisse:

In [14]:
import pandas as pd

df = pd.read_csv("tagasiside_log.csv")
df = df[df["Hinnang"] == "ðŸ‘Ž Halb"]

### Tabel

Loome tabeli:

In [13]:
total = len(df)

veatyyp_tabel = (
    df["VeatÃ¼Ã¼p"]
    .value_counts(dropna=False)
    .rename_axis("VeatÃ¼Ã¼p")
    .reset_index(name="Arv")
)

kohustuslik_veatyyp = "Filtrid olid liiga karmid/valed"
if kohustuslik_veatyyp not in veatyyp_tabel["VeatÃ¼Ã¼p"].values:
    veatyyp_tabel = pd.concat(
        [
            veatyyp_tabel,
            pd.DataFrame([{"VeatÃ¼Ã¼p": kohustuslik_veatyyp, "Arv": 0}]),
        ],
        ignore_index=True,
    )

veatyyp_tabel["% koguarvust"] = (
    (veatyyp_tabel["Arv"] / total * 100).round(2) if total > 0 else 0.0
)

veatyyp_tabel

                                VeatÃ¼Ã¼p  Arv  % koguarvust
0     LLM hallutsineeris/vastas valesti    5         55.56
1  Otsing leidis valed ained (RAG viga)    4         44.44
2       Filtrid olid liiga karmid/valed    0          0.00